@using  Project.Web.Mvc4.Models
@{
    var moduleStep = (RequestInformation.Navigation.Step) TempData["Module"];
    ViewBag.Title = moduleStep.Title;
}

<div id="dynamic_content">
    <h2>@ViewBag.Title</h2>
</div>

@Html.Partial("ActionListTemplate")
@Html.Partial("EditorTemplate")
@Html.Partial("RecruitmentMilitaryServiceEditHandler")
@Html.Partial("~/Areas/PMS/Views/Shared/SectionItemKpiEditorTemplate.cshtml")
@Html.Partial("~/Areas/PMS/Views/Shared/AppraisalTemplate.cshtml")
@Html.Partial("~/Areas/PMS/Views/Shared/AppraisalTemplateViewHandler.cshtml")
@Html.Partial("~/Areas/PMS/Views/Shared/ApprisalTemplates/KpisTemplate.cshtml")



