@using  Project.Web.Mvc4.Helpers
@Html.Partial("SectionItemKpiEditorTemplate")
@Html.Partial("OverwriteAppraisalTemplateSetting")
@Html.Partial("SectionItemKpiViewHandlerTemplate")
@Html.Partial("EditorAppraisalPhaseSetting")
@Html.Partial("AppraisalPhaseSettingViewTemplate")
@Html.Partial("PromotionsSettingsEditor")
@Html.Partial("PromotionsSettingsViewEditor")
@Html.Partial("AppraisalTemplateViewHandler")
@Html.Partial("UpdateAppraisalPhaseView")

@*<div id="OverwriteWorkflowSetting_window"></div>*@