@model Project.Web.Mvc4.Models.LocalPasswordModel
@using  Project.Web.Mvc4.Helpers.Resource
@using  Project.Web.Mvc4.Helpers

<div class="change-password">
    <h2>@GlobalResource.ChangePassword</h2>

    @using (Html.BeginForm("Manage", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <ul>
            <li>
                <label class="k-label" for="OldPassword">@AccountLocalizationHelper.GetResource(AccountLocalizationHelper.OldPassword)</label>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "k-input k-textbox" })
            </li>
            <li>
                <label class="k-label" for="NewPassword">@AccountLocalizationHelper.GetResource(AccountLocalizationHelper.NewPassword)</label>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "k-input k-textbox" })
            </li>
            <li>
                <label class="k-label" for="ConfirmPassword">@AccountLocalizationHelper.GetResource(AccountLocalizationHelper.ConfirmPassword)</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "k-input k-textbox" })
            </li>
        </ul>
        <input type="submit" class="k-button primary-action" value="@GlobalResource.Save" />

    }
</div>