@using Project.Web.Mvc4.Helpers
@using Project.Web.Mvc4.Helpers.Resource

<script id="jobDescriptionSection-Workflow-Approval-Template" type="text/x-kendo-template">
    <div>
        <fieldset class="jd-info">
            <legend>@GlobalResource.JobDescriptionInformation</legend>
            <div class="appraisal-meta-info">
                <div>
                    <span>@GlobalResource.Name :</span>
                    <span class="val">#=Name#</span>
                </div>
                <div>
                    <span>@GlobalResource.SectionWeight :</span>
                    <span class="val">#=SectionWeight#</span>
                </div>
                <div>
                    <span>@GlobalResource.SectionValue :</span>
                    <span class="val">#=SectionValue#</span>
                </div>
            </div>
            <div class="appraisal-meta-desc">
                <span>@GlobalResource.Description:</span>
                #if(Description==null||Description=="null"){#

                #Description="";#
                #}#
                <textarea readonly>#=Description#</textarea>
            </div>
        </fieldset>
        <fieldset class="roles">
            <legend>@GlobalResource.Roles</legend>
            #for (var i = 0; i < Roles.length; i++) {#
            #var role=Roles[i];#
            <div class="role-#=i#">
                <div class="role-info">
                    <div class="appraisal-meta-info">
                        <div>
                            <span>@GlobalResource.RoleName:</span>
                            <span class="val">#=role.Name#</span>
                        </div>
                        <div>
                            <span>@GlobalResource.RoleWeight:</span>
                            <span class="val">#=role.Weight#</span>
                        </div>
                    </div>

                    <div class="appraisal-meta-desc">
                        <span>@GlobalResource.Description</span>
                        #if(role.Description==null||role.Description=="null"){#

                        #role.Description="";#
                        #}#
                        <textarea readonly>#=role.Description#</textarea>
                    </div>
                </div>
                <div class="responsibilities">
                    <table>
                        <colgroup>
                            <col class="column-namecolumn">
                            #if(role.AppraisalItems.length!=0){#
                            #for (var j = 0; j < role.AppraisalItems[0].Steps.length; j++) {#
                            #var step=role.AppraisalItems[0].Steps[j];#
                            <col style="width: 58px;">
                            <col style="width: 38px;">
                            <col style="width: 26px;">
                            <col style="width: 70px;">
                            #}#
                            #}#
                        </colgroup>
                        <thead>
                            <tr>
                                <th>@PMSLocalizationHelper.GetResource(PMSLocalizationHelper.Name)</th>
                                #if(role.AppraisalItems.length!=0){#
                                #for (var j = 0; j < role.AppraisalItems[0].Steps.length; j++) {#
                                #var step=role.AppraisalItems[0].Steps[j];#
                                <th style=" padding-right: 0; padding-left: 0;">@GlobalResource.Manager</th>
                                <th style=" padding-right: 0; padding-left: 0;">@PMSLocalizationHelper.GetResource(PMSLocalizationHelper.Weight)</th>
                                <th style=" padding-right: 0; padding-left: 0;">@PMSLocalizationHelper.GetResource(PMSLocalizationHelper.Rate)</th>
                                <th style=" padding-right: 0; padding-left: 0;">@PMSLocalizationHelper.GetResource(PMSLocalizationHelper.Description)</th>
                                #}#
                                #}#
                            </tr>
                        </thead>
                        <tbody>
                            #for (var k = 0; k < role.AppraisalItems.length; k++) {#
                            #var item=role.AppraisalItems[k];#
                            <tr class="responsibility-1">
                                <td><p>#=item.Name#</p></td>
                                #for (var j = 0; j < item.Steps.length; j++) {#
                                #var step=item.Steps[j];#
                                #if(step.Description==null||step.Description=="null"){#
                                #step.Description="";#
                                #}#
                                <td class="center-column"><p style="padding:0;padding-left: 5px; text-align: left; ">#=step.Manager#</p></td>
                                <td class="center-column"><p style="padding:0;padding-left: 5px; text-align: left; ">#=step.Weight#</p></td>
                                <td class="center-column"><p style="padding:0;padding-left: 5px; text-align: left; ">#=step.Rate#</p></td>
                                
                                <td class="center-column"><textarea readonly>#=step.Description#</textarea></td>
                                #}#
                            </tr>
                            #}#
                        </tbody>
                    </table>
                </div>
            </div>
            #}#
        </fieldset>
    </div>
</script>
